.cover {
    max-width: 1184px;
    margin: 0 auto;
    position: relative;
}

.cover::before {
    content: '';
    display: block;
    background-image: url(../../sprint-3-images/__background.png);
    background-size: contain;
    padding-bottom: 62.5%;
    opacity: .9;
    transition: opacity 2s;
}

:hover::before {
    opacity: .3;
}

@media only screen and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
    }
}

@media only screen and (max-width: 1023px) {
    .cover {
        max-width: 768px;
    }
}

@media only screen and (max-width: 767px) {
    .cover {
        max-width: 425px;
    }
}